@model TrabalhoWEBMVC3.Models.Impressora

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cadastro de Equipamento</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="descricao" class="control-label"></label>
                <input asp-for="descricao" class="form-control" />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="patrimonio" class="control-label"></label>
                <input asp-for="patrimonio" class="form-control" />
                <span asp-validation-for="patrimonio" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Criar" class="btn btn-primary" />
                <a role="button" class="btn btn-secondary" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
